/* ブラウザがそれぞれ持っているCSSをリセットするための記述 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.top-bar{
  height: 50px;
  background-color: #FF9A4B;
}

.main{
  text-align: center;
  margin: 50px 0;
  /* background-color: red; */
}

.box{
  width: 300px;
  background-color: #EEEEEE;
  display: inline-block;
}

.box2{
  margin: 0 30px 0 30px;
}
.step{
  position: absolute;
  background-color: #FF9A4B;
  color: #FFFFFF;
}

.image{
  height: 150px;
  margin: 10px 10px 0 10px;
  background-size: cover;
  background-position: bottom;
}

.image-step1{
  background-image: url(img/flow01.png);
}

.image-step2{
  background-image: url(img/flow02.png);
}

.image-step3{
  background-image: url(img/flow03.png);
}

.sub-title{
  margin: 15px 0 5px 0;
}

.bottom-bar{
  height: 50px;
  background-color: #AAAAAA;
}